.banner-bg{background-image:url(../img/banner.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg2{background-image:url(../img/banner2.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg3{background-image:url(../img/banner3.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg4{background-image:url(../img/banner4.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg5{background-image:url(../img/banner5.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg6{background-image:url(../img/banner6.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.banner-bg7{background-image:url(../img/banner7.jpg);background-repeat:no-repeat;background-size:cover;color:#fff;}
.right-desk{padding-left:0px;padding-right:0px;background-image:url(../img/bg/bg1.jpg);background-repeat:no-repeat;overflow-y:hidden !important;}
.right-desk2{padding-left:0px;padding-right:0px;background-image:url(../img/bg/bg2.jpg);background-repeat:no-repeat;overflow-y:hidden !important;}
.right-desk4{padding-left:0px;padding-right:0px;background-image:url(../img/bg/bg4.jpg);background-repeat:no-repeat;overflow-y:hidden !important;}
@media screen and (min-height: 930px) {
.right-desk-gen{height:930px;}
}
@media screen and (max-height: 900px) {
.right-desk-gen{height:900px;}
}
@media screen and (max-height: 800px) {
.right-desk-gen{height:800px;}
}
@media screen and (max-height: 700px) {
.right-desk-gen{height:700px;}
}
.right-desk-content{margin-top:40%;margin-left:10%;margin-right:10%;font-size:22px;color:#ffa500;}
.right-desk-content2{color:#E01012;margin-top:38%;margin-left:10%;margin-right:10%;font-size:23px;font-weight:bold;}
.fa-long-arrow-left{color:#000;}

.left-desk{background-color:#fff;padding:50px 20px;   border-radius: 4px;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);}
 .right-desk-gen{position:fixed;left:33.33333333%;}  
 h2{ font-family: 'Convergence';}
 
.login-input{ 
padding-left: 10px;
    margin: 16px 0px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width: 100%;}
    .login-input2{ 
padding-left: 10px;
    margin: 5px 0px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width: 100%;}
.form-controll{padding-left: 10px;
    margin:0px 0px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;width: 100%;}
.navbar-brand {padding:0px 0px;}
.navbar-brand>img {
    display: block;
    height: 50px;
}
.white{color:#fff !important;}
.ht {
    font-size: 36px;
}
h1{    text-shadow: 3px 3px 4px #000000;}
.total-fare{font-size:22px;}
.store{    max-width: 49%;
    height: 48px;}
.icon-top{    font-size: 18px;}
.top-ul{margin-bottom:0px;}
.top-ul>li>a{padding:0px 10px;color:#fff;text-decoration:none;}
.bot-ul>li>a{    color: rgba(255, 255, 255, 0.8);text-decoration:none;}
body{    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;overflow-x:hidden;}
.top-row{background-color:#DF1719;color:#fff;padding:1px 0px;}
.navbar-inverse {
     background-color: #fff; 
	 /* background-image: linear-gradient(#CAE7F6, #fff); */
	/* background-image:url(../img/bg.jpg); */

	    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
}
.navbar {border:none;
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-inverse .navbar-nav>li>a {
    color: #000;font-weight:500;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #E59D37;
  
}

/* @media only screen and (max-width: 768px) { */
	/* .banner-bg{padding:20px 0px;} */
/* } */
/* @media only screen and (max-width: 425px) { */
	/* .banner-bg{padding:0px 0px;} */
/* } */

@media only screen and (min-width: 767px) {
.navbar { padding: 7px;
}
}
@media only screen and (max-width: 766px) {
.navbar-brand img { padding: 5px;
}
}


.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.jumbotron {
margin-bottom:0px;}

.thela-features{
        background-image: linear-gradient(to bottom, #FDFDFD 0%, #E9E9E9 100%);
    padding: 30px 0;
    letter-spacing: 0.3px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    margin-top: 4px;
}



.foot-heading{color:#ffa500;text-transform:uppercase;}
footer { background: #393939;color: rgba(255, 255, 255, 0.8);padding:20px;font-size:12px;}
.thela-item{border:1px solid #ddd;border-radius:6px; 
  /* background-image: linear-gradient(#B71C1C, #fff); */
  margin-bottom:15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);}
	.thela-item2{ margin-bottom:20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);}
.item-head{
	background-color:#df1719;
	color:#fff;font-size:22px;
	padding:3px 1px;
	border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;    text-shadow: 1px 1px 2px #000000;}
.heading2{color: #1d1d1d;
    background-color: #F8C200;
    display: inline-block;
    padding:2px 5px;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
	    font-family: 'Open Sans Condensed', sans-serif;
	}
	.heading3{color: #666;
    font-size: 17px;
    padding-top: 15px;}
.htt{    color: #1d1d1d;
    font-size: 45px;
    letter-spacing: -1px;
	    line-height: 1.1;
    text-transform: uppercase;}
	.read-more{    border: solid 2px #df1719;padding:7px;border-radius:9px;color:#df1719;text-decoration:none !important;}
	
	.my-form{border:1px solid #ddd;background-color:rgba(255,255,255,0.4);border-radius:6px;padding:10px;}
.frm1{background-color:rgba(250,218,94,1);padding:10px;margin:0px;}
.frm2{margin:10px 0px;}



.active-btn{background-color:#DF1719;color:#fff;padding:3px 9px;border-radius:18px;}

.frm1-head{font-size:22px;}
.material-ul li{width:32.6%;height:78px;max-height:78px;border:1px solid #ccc;padding:2px;background-color:#fff;margin-bottom: 5px;font-size:12px;}
.material-ul li:hover{border:1px solid red;}
.material-ul li img{margin-left:auto;margin-right:auto;}
@media screen and (max-width: 419px) {
 .material-ul li{font-size:10px !important;    width: 32%;}   
}
.pickup,.drop,.when,.depart,.veh,.mat,.weight{    position: relative;color:#000;font-size:14px;
    background-color:rgba(255,255,255,0.7);
    border: 1px solid #e5e5e5;
    margin: 8px 0;
	padding:8px 10px;
    border-radius: 4px;cursor: pointer;
	}
	.card{ text-align:left;
    border: 1px solid #e5e5e5;
    background-color:#fff;
    border-radius: 4px;}
	.con-span{font-weight:500;}
.fleet-name{font-size:17px;font-weight:600;width:40%;float:left;}	
.fleet-price{font-size:17px;font-weight:600;width:60%;float:right;text-align:right;    top: 3px;position: relative;}
	.fleet-time{font-size:9px;}
	.fleet-img{    width: 47px;height: 32px;padding: 3px;}
	.fleet-img2{    width: 50px;height: 40px;padding: 3px;}
	.fleet-img3{    background-color:#fff;border:1px solid #ccc;padding:10px;border-radius:5px;}
	.fleet-img3:hover{border:1px solid red;font-weight:bold;}
.fleet-tag{font-size:12px;color:#000;}
.fl{padding-left:5px;padding-right:5px;}
.fleet-proceed-icon{    top: 12px;
    position: relative;}
	
.fleet-row{border-bottom:1px solid #e5e5e5;margin-bottom:5px;padding-bottom:5px;cursor:pointer;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);}	
	.step2,.step3,.step4,.step5{min-height:317px;}
	
.col-span,.pic-span{padding-left:0px;padding-right:0px;font-size:12px;    top: 2px;}
.whenselect{border-width:0px;background-color:transparent;width:100%;}
.whenselect:focus{outline:none;}

.btn-skin{font-weight:500;    color: #000;padding:7px 0px;font-size:18px;
 background-color: #ffa500;
    border-color: #ffa500;}
	.btn-skin2{font-weight:500;    color: #000;padding:7px 0px;font-size:15px;
 background-color: #ffa500;
    border-color: #ffa500;}
    .btn-skin3{ color: #000;font-size:14px;font-weight:500;
 background-color: #ffa500;
    border-color: #ffa500;}

@media (min-width: 768px)
{
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}}
@media (min-width: 768px){
.navbar-right {
    padding-top: 5px;
}}
.book-now{background-color:#ffa500;}
.book-now:hover{background-color:#E59D37 !important;color:#000 !important;}
.info-cont{    padding:10px 20px 5px 20px;}

.para{    color: rgba(0, 0, 0, 0.6);}
.h44{background-color:#ffa500;padding:6px 10px;margin:0px !important;    font-size: 22px;}

.rib{
        position:absolute;    left: 15px;
    width: 134px;
    }
.tt{color: red;}
	h2>strong,.fa-4x{color: red;}

.book-row{padding:3px 0px;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); background-color:#fff;}
			.fa-bars {  top: 7px;position:relative;cursor:pointer;}
			.login-link {    font-weight: 600;color:#000;text-decoration:none !important;
    top: 12px;position:relative;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: red;
    background-color: transparent;
	border-bottom:2px solid red;
}
.back{margin-top:6px;font-size:20px;float:left;cursor:pointer;}
.back2{font-size:20px;float:left;cursor:pointer;}

.booking-date{float:left;width:70%;text-align:left;font-weight:500;}
.booking-price{float:right;width:30%;text-align:right;font-weight:500;}
.booking-history{
	cursor:pointer;
	background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;}
	.vehicle-name{font-size:11px;color:#9F9FA1;}
	.vehicle-rating i{color:orange;}
	/*.scrollmenu{overflow-x: auto;overflow-y:hidden;*/
 /* white-space: nowrap;}*/
  .scrollmenu a{text-decoration:none !important;color:#000;font-weight:500;float:left;}
  .incity{width:22.5%;}
  .outcity{width:22.5%;}
  .transport{width:29%;}
  .rentals{width:26%;}

@media screen and (max-width: 380px) {
    .scrollmenu a{font-size:12px;}
}
@media screen and (max-width: 340px) {
    .scrollmenu a{font-size:11px;}
}
@media screen and (max-width: 320px) {
    .scrollmenu a{font-size:10px;}
}
.fleet-pic{width:100%;padding:3px;}
.fleet-pic-row{   border:1px solid #ddd;border-radius:6px; 
  /* background-image: linear-gradient(#B71C1C, #fff); */
  margin-bottom:15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;}
@media only screen and (max-width: 767px) {
    .fleet-pic{width:100px;padding:3px;text-align:center;}
    .fleet-pic-row{text-align:center;}
}

.part-row{padding:25px;background-color:#F8F8F8;border:1px solid #ddd;border-radius:20px;text-align:center;font-size:15px;}

.driver-dp{width:50px;height:50px;}
.feedback{ border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
    width:90%;
    margin-bottom:10px;
}
.rome{  padding: 5px 0px 5px 0px;background-color:#fff;box-shadow: 0 5px 5px -5px #ccc;}







